body {
    /* margin-left: 50px;
    margin-right: 50px; */
    padding: 0;
    background: #EDE9E9; /* Replace with your desired gradient colors */
    font-family: Arial, sans-serif;
}
/* Style the header and logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDE9E9; /* Background for the header */
    padding: 3px 3px;
    margin-left: 50px;
    margin-right: 50px;
}


.logo-title-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px; /* Adjust margin as needed */
    max-width: 80px;
}
.logo img {
    
    max-width: 80px; /* Adjust the size as needed */
    height: auto;
}
.title {
    text-align: left;
    margin: 10;
    max-width: 100px;
    margin-right: 10px; 
    font-size: 18px; 
    color: #333; 
}
/* .nothing {
    width: 750px;
} */
@media (max-width: 2024px) {
    .nothing{
        /* width: 750px; */
        flex-basis: 100%; /* Take up full width on smaller screens */
    }
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    
    width: 200px; 
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

form {
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form */
}

div {
    margin-bottom: 15px; /* Add space between form fields */
}

label {
    display: block; /* Display labels on a new line */
    margin-bottom: 5px; /* Add space below labels */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.registration-form {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 375px;
    width: 325px;
  }